/* * {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    color: #000fff;
} */

.main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.leftdiv {
background-color: #ddd;
width: 25%;
border: 3px solid white;
box-shadow: 8px 8px 8px white;
text-align: center;
border-radius: 10px;
height: 500px;
}

img {
    width: 90%;
    border-radius: 50px;
    padding: 2%;
}
h1 {
    color: red;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 10px 10px 10px #000ddd;
}

.rightdiv {
    width: 65%;
    border: 3px solid #ddd;
    box-shadow: 10px 10px 10px #ddd;
    border-radius: 10px;
    padding: 10px;

}
p{
    color: #000ddd;
    font-size: 23px;
    font-family: serif;
    padding: 10px;
}
table {
    border: 3px solid #000ddd;
    /* padding: 23px; */
    font-size: 23px;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
td {
    padding: 23px;
}
.skills {
    margin: 3%;
}

.html, .css, .python, .c, .javascript, .reactjs{
    color: red;
    background-color: #ffb300;
    border: #ddd;
    box-shadow:10px 10px 10px #000fff;
    padding: 10px;
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin: 10px;
    border-radius: 20px;
}

li {
    color: green;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;

}
@media only screen and (min-width:100px) and (max-width:319px) {
    .leftdiv {
        width: 95%;
        font-style: oblique;
        height: 400px;
    }
    
}
@media only screen and (min-width:320px) and (max-width:767px) {
    .leftdiv {
        width: 90%;
        font-style: italic;
    }
    .rightdiv {
        width: 90%;
        margin: 10px;
        
    }
    table {
        margin: 0;
        padding: 0;
        font-size: 13px;
    }
    td {
        padding: 0;
    }
    .skills {
        display: flex ;
        flex-direction: column;
        text-align: center;
    }
        
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .leftdiv {
        width: 70%;
        background-color: black;
        color: #ffffff;
        height: auto;
        box-shadow: 10px 10px 8px #ddd;
        border: 5px solid #ddd;
        margin: 10px;
    }
    img {
        width: 70%;
        border-radius: 250px;
    }
    .rightdiv {
        width: 90%;
    }
    .skills {
        display: flex ;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }
    
    .html, .css, .python, .c, .javascript, .reactjs {
        margin: 10px;
        padding: 30px 80px;
        color: #000ddd;
        font-size: 30px;

    }
}
